### 1. Importando Bibliotecas

In [1]:
# OBS: Algumas bibliotecas e comandos podem eventualmente não serem utilizados

# Bibliotecas de analise
import pandas as pd
import numpy as np

# Bibliotecas de visualozação 
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

### 2. Localizando e abrindo arquivo

In [2]:
df_sedurb = pd.read_csv('Lista parcial de Aprovados na SEDURB.csv')

### 3. Inspecionando o arquivo

In [3]:
df_sedurb.head() # Pode se ver que existe uma coluna desnecessária, vamos elimina-la

   Unnamed: 0 Número da Incrição  Notas
0           0          358.284-1  62,50
1           1          357.819-4  75,50
2           2          357.520-9  54,50
3           3          352.680-1  57,00
4           4          350.035-7  54,00

### 4. Tratando dos dados

In [4]:
# Eliminando a coluna desnecessária 

df_sedurb.drop(['Unnamed: 0'], axis=1, inplace=True)

In [5]:
df_sedurb.head()

  Número da Incrição  Notas
0          358.284-1  62,50
1          357.819-4  75,50
2          357.520-9  54,50
3          352.680-1  57,00
4          350.035-7  54,00

### 5. Insights

In [6]:
df_sedurb['Notas'].max() # A maior nota tirada no certame da SEDURB

'89,00'

In [15]:
# A maior nota e o número da inscrição relacionado
df_sedurb[df_sedurb['Notas'] == '89,00']['Número da Incrição']

598    351.966-0
Name: Número da Incrição, dtype: object

In [7]:
df_sedurb['Notas'].min() # A menor nota tirada no certame da SEDURB

'50,00'

In [16]:
# A menor nota e o números de inscrição relacionados
df_sedurb[df_sedurb['Notas'] == '50,00']['Número da Incrição']

12     359.370-3
19     358.751-7
76     358.048-2
87     354.843-0
119    355.895-9
184    352.334-9
194    358.582-4
217    351.809-4
235    355.579-8
243    351.447-1
251    353.315-8
254    356.653-6
294    356.949-7
306    356.645-5
358    354.329-3
360    356.923-3
416    358.772-0
419    352.529-5
444    357.612-4
466    352.888-0
474    357.805-4
479    351.443-9
496    353.700-5
503    354.059-6
550    356.739-7
553    352.501-5
567    358.099-7
583    352.133-8
612    352.191-5
674    351.825-6
707    353.479-0
712    354.641-1
745    358.844-0
753    353.732-3
816    351.486-2
840    356.520-3
Name: Número da Incrição, dtype: object